<section class="w3l-footers-20">
    <div class="footers20">
        <div class="">
            <div class="footers20-content container ">
                <div class="d-grid grid-col-4 grids-content">
                    <div class="column">
                        <h4>Adres</h4>
                        <p class="contact-para3">New York, NY-90814 Hill Station 4th Street</p>
                        <a href="mailto:hello@w3layouts.com">
                            <p class="contact-mail mt-2">pizza@order.com</p>
                        </a>
                    </div>
                    <div class="column">
                        <h4>Rezervasyon</h4>
                        <p>Lorem ipsum dolor sit amet, elit. Minima, enim.</p>
                        <a href="tel:+1-2345-678-11">
                            <p class="contact-phone mt-2">+1-2345-678-11</p>
                        </a>
                    </div>
                    <div class="column">
                        <h4>Açılış-Kapanış</h4>
                        <p>Pazartesi-Pazar</p>
                        <p class="mt-2">09.00-23.00</p>
                    </div>
                    <div class="column">
                        <h4>İnstagram Hesabımız</h4>
                        <a href="https://www.instagram.com/sefabasbogaa/">
                            <p>
                                <span class="fa fa-instagram mr-2"></span>Sıcak pizzalar için tek adres.
                            </p>
                        </a>
                        <p class="small mt-2"><span class="fa fa-clock-o"></span> @DateTime.Now.Year</p>
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid">
                        <p class="copy-footer-29">
                            @DateTime.Now.Year Pizza Pan. Tüm Hakları Saklıdır | Designed by <a href="https://w3layouts.com">W3layouts</a>
                        </p>
                    </div>
                    <div class="columns text-right social-grid">
                        <ul class="social">
                            <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>